# Output files
output/
*.wav

# Python
__pycache__/
*.pyc
.venv/

# Nix
result

# IDE
.vscode/
.idea/

# Input files
input/

# Build
build/

.direnv/
.envrc

output_cpp/
output_python/

# Test results
results/
